
* {
  padding: 0;
  margin: 0;
}

/* #5b7065, black */
body {
    font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to right bottom, #f8b82f, #e729c4);
  min-height: 100vh;
}

button {
  height: fit-content;
  cursor: pointer;
  color: #33be76;
  background-color: #aecbb3;
}

.app {
  width: 600px;
  margin: auto;
  padding-top: 50px;
  color: rgb(30, 50, 152);
}

.input-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(158, 16, 183);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px 0px 10px 0px;
}

.to-do-input input {
  width: 250px;
  font-family: inherit;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  outline: none;
}

.to-do-input button {
  color: #5b7065;
  font-family: inherit;
  border: none;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.to-do-list i {
  color: #2ff9d4;
  cursor: pointer;
}

.to-do-list .fa-pen-to-square {
  color: #60efa5;
}

.to-do-list button {
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  border: none;
}

.item {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  gap: 10px;
  background-color: rgba(128, 122, 240, 0.3);
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.input-controller {
  display: flex;
  gap: 10px;
}

.input-controller textarea {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  line-height: 1.4;
  color: rgb(6, 27, 111);
  border-radius: 10px;
  background-color: transparent;
  font-size: 1.2rem;
  font-family: inherit;
  transition: all 0.30s ease-in-out;
}

textarea:focus {
  box-shadow: 0 0 5px rgb(255, 18, 18);
}

.edit-controller {
  display: flex;
  gap: 5px;
}

.update-controller {
  display: none;
}

@media(max-width: 768px) {
  .app {
    width: 95%;
    text-align: center;
  }

  .input-header {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .to-do-input {
    display: flex;
  }

  .to-do-input input {
    width: 300px;
  }

}